* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eafff0;
  color: white;
}

.listing_container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.listing {
  border: solid 2px white;
  border-radius: 2%;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.listing p {
  color: white;
}
h1 {
  font-family: nosifer;

}
.username {
  font-family: nosifer;
  color: white;
}

input {
  background-color: transparent;
}
.form-control {
  background-color: transparent;
}

div {
  font-family: eater;
}

.btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: white;
}
#login_form{
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 20px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 2%;
}

#register_form {
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 20px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 2%;
}

label {
  font-weight: bold;
}

.property_page {
background: url("https://camo.envatousercontent.com/d1f4420d4adae93c92ee24d6d964b34acc56b5f0/687474703a2f2f692e696d6775722e636f6d2f78546f6b5359712e6a7067");
background-repeat: no-repeat;
background-size: cover;
}

.annoying-text {
  margin-top: 150px;
}

.login {
  background: url("http://www.travelabuzz.com/wp-content/gallery/most-amazing-beaches/phi-phi-thailand-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
