<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body>

  <div class="container">
    <h5><%= my_listing.dataValues.title %><h5>
    <div><%= my_listing.dataValues.description %></div>
    <p>£ <%= my_listing.dataValues.price %></p>
    <p>Available: <%= my_listing.dataValues.dates %></p>
  </div>


  <footer><% include ../partials/footer %></footer>
</body>
</html>
